.teams-grid-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F7F9F8;
}
.teams-card-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    align-items: center;
  text-align: center;
  justify-content: center;
}
.teams-card-wrapper h1{
    font-size: 70px;
}
.teams-card-wrapper p{
    font-size: 30px;
    width: 50%;
}
.teams-grid {
    display: grid;
    width: 86%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
    padding: 20px;

  }
  
.team-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  

  }
  .service-card:hover {
    transform: translateY(-5px); /* Add hover effect */
  }
  
  .team-card-image {
    border-radius:  15px 15px 0px 0px ;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .team-card-content {
    padding: 16px;
  }
  .team-card-content h3{
    font-size: 25px;
  }
  .team-card-content p{
    font-size: 18px;
  }
  
  .team-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 8px;
  }
  
  .team-card-description {
    font-size: 0.9rem;
    color: #555;
  }
  @media(max-width:768px){
    .teams-grid {
        display: flex;
        flex-direction: column;
      width: 100%;
      padding: 0;
    
      }
      .teams-card-wrapper p{
        font-size: 18px;
        width: 90%;
       
    }
    .teams-card-wrapper{
        height: 50vh;
    }
    .teams-card-wrapper h1{
        font-size: 30px;
    }
    .team-card-content h3 {
        font-size: 20px;
    }
    .team-card-content p {
        font-size: 15px;
    }
    .team-card-image {
      display: flex;
      align-content: center;
      width: 90%;
        
    }
    .team-card{
        justify-content: center;
        align-items: center;
    }
  }
  