/* ServicesSection.css */
.services-section {
    text-align: center;
    /* padding: 50px 20px; */
    background-color: white;
  }
  
  .services-section h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .services-section p {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
  }
  
  .service-card {
    background-color: #F5F6F7;
    padding: 0px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
   
  }
  
  .service-card:hover {
    transform: translateY(-5px); /* Add hover effect */
  }
  .service-icon-cover{
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }
  .service-image {
    width: 110px;

  }
  
  .service-card h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .service-card p {
    font-size: 18px;
    color: #555;
  }
 
  @media(max-width:1024px){
    .services-section h2 {
      font-size: 30px;
    }
    .services-section p {
      font-size: 15px;
   
  }
  .service-card h3{
    font-size: 20px;
  }
 
  .service-card{
    width: 90%;
  }
    
  }

  