.footer-container {
    background-color:white;
    padding: 20px;
    display: flex;
    /* column-gap: 90px; */
    justify-content: center;
    color: black;
    height: 70vh;
  
  }
  
  .footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    /* color: #fff; */
  }
  
  .footer-subscription > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }
  
  .footer-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
  }
  
  .footer-input {
    padding: 20px 50px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 18px;
    margin-bottom: 16px;
 
  }

  
  .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  
  }
  
  .footer-link-wrapper {
    display: flex;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer-link-items h2 {
    margin-bottom: 16px;
  }
  
  .footer-link-items > h2 {
    /* color: #fff; */
  }
  
  .footer-link-items a {
   color: darkslategray;
   font-size: 25px;
   margin-bottom: 30px;
    text-decoration: none;
  
  }
  
  .footer-link-items a:hover {
    color: #c5c5c5;
    transition: 0.3s ease-out;
  }
  
  .footer-email-form h2 {
    margin-bottom: 2rem;
  }
  
  .footer-input::placeholder {
    color: #b1b1b1;
  }
  
  /* Social Icons */
  .social-icon-link {
    outline: none;
    color: black;
    background-color: #c5c5c5;
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
  }
  
  .social-media {
    width: 100%;

  }
  
  .social-media-wrap {
    display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
    padding: 0px 24px;

  }
  .social-media-name{
    font-size: 24px;
    padding-left: 70px;
  }
  
  .social-icons {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
   
  }
  
  .social-logo {
    /* color: #fff; */
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website-rights {
    /* color: #fff; */
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 1024px) {
    .footer-links {
      padding-top: 2rem;
      width: 0;
      
    }

  
    .btn {
      width: 100%;
    }
    .footer-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
    
    .footer-links{
      display: flex;
      flex-direction: column;
    }
    .footer-link-wrapper {
      display: flex;
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }